* {
    -fx-root-base: WHITE;
    -fx-base-controls: #55738f;

    -fx-base-border: #55738f;

    -fx-root-accent:#d59800;
    -fx-root-accent-dark:#9f6a00;
    -fx-root-accent-light:#ffc845;

    -fx-controls-text: WHITE;
}

/*
    References:
    For rounding edges order is top-left, top-right, bottom-right, and bottom-left corners, in that
    order.
 */

/*
    Root (all the panes)
 */
.root{
    -fx-background-color:-fx-root-base;
}

/*
    Radio buttons
 */
.radio-button .radio {
    -fx-border-color: -fx-base-border;
    -fx-border-width: 1;

    -fx-background-radius:20 ;
    -fx-background-insets:2;
    -fx-background-color: white;

    -fx-border-radius: 20px;

}

.radio-button .dot {
    -fx-background-radius: 20px;
    -fx-padding: 8px;
}

.radio-button:selected{
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-mark-highlight-color: -fx-root-accent;
    -fx-mark-color: -fx-root-accent;
}

.radio-button{
    -fx-text-fill: black;
}

/*
    List and tableviews
 */


.table-view{
    -fx-background-color: -fx-root-base;
}
.table-view .column-header {
    -fx-background-color: -fx-root-accent;
}

.table-view .column-header-background{
    -fx-font-size: 14;
    -fx-font-weight: BOLD;
    -fx-background-color: -fx-root-accent;
}

.table-view .column-header-background .label{
    -fx-background-color: -fx-root-accent;
    -fx-text-fill: white;
}

.table-row-cell:selected {
    -fx-background-color: -fx-root-accent;
    -fx-table-cell-border-color: -fx-root-accent-light;
}

.table-row-cell{
    -fx-text-fill: -fx-root-accent;
    -fx-table-cell-border-color: WHITE;
}

.table-view:row-selection:constrained-resize .virtual-flow .table-row-cell:selected{
    -fx-background-color: -fx-root-accent-light;
    -fx-font-weight: bold;
}

.table-view:row-selection:constrained-resize .virtual-flow .table-row-cell:selected:focused{
    -fx-background-color: -fx-root-accent-light;
    -fx-font-weight: bold;
    -fx-text-background-color: white;
}



.table-view:row-selection:constrained-resize .virtual-flow .table-row-cell:hover{
    -fx-background-color: -fx-root-accent-light;
    -fx-table-cell-border-color: -fx-root-accent-light;
    -fx-text-background-color: white;
    -fx-font-weight: bold;
}


.table-view .filler{
    -fx-background-color: transparent;
}

.table-view:row-selection:constrained-resize .virtual-flow .corner{
    -fx-background-color: transparent;
}

.table-view:row-selection:constrained-resize .virtual-flow .scroll-bar:vertical .thumb,
.table-view:row-selection:constrained-resize .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-radius: 0;
    -fx-background-color: -fx-root-accent;
}


/*
    Text fields/areas
 */

.text-area{
    -fx-border-color: -fx-root-accent;
    -fx-border-width: 2;
    -fx-background-color: -fx-root-base;
}

.text-area .scroll-pane .content{
    -fx-background-color: -fx-root-base;
    -fx-padding:8;
    -fx-border-color: -fx-root-accent;
    -fx-border-width: 1;
    -fx-text-fill: black;
}

.text-area:focused{
    -fx-padding: 2;
}

/*
For rounded text area if needed
.text-area{
    -fx-border-radius: 20;
    -fx-border-color: black;
    -fx-background-radius: 20;
}

.text-area .scroll-pane {
    -fx-background-color:transparent ;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: white;
    -fx-padding:8;
    -fx-background-radius: 50;
}
*/
.scroll-bar{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .decrement-button .decrement-arrow,
.scroll-bar .increment-button .increment-arrow
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .decrement-button .decrement-arrow,
.scroll-bar .increment-button .increment-arrow{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}




/*
    Buttons
 */

.button{
    -fx-background-color: -fx-base-controls;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-padding: 5;
}

.button:hover{
    -fx-background-color: -fx-base-controls;
    -fx-text-fill: white;
    -fx-padding: 7;
}



/*
    Text
 */
.label{
    -fx-text-fill: black;
    -fx-font-weight: BOLD;
}

/*
    Customer alerts
 */
.myDialog{
    -fx-background-color: #f9d900;
}

